{:deps
 {clj-http/clj-http {:mvn/version "3.12.3"}
  com.taoensso/timbre {:mvn/version "6.2.2"}
  com.fzakaria/slf4j-timbre {:mvn/version "0.4.0"}
  org.slf4j/jcl-over-slf4j {:mvn/version "1.7.36"}
  org.clojure/tools.cli {:mvn/version "1.0.219"}}

 :paths ["src"]

 :aliases
 {:run {:main-opts ["-m" "core"]}

  :build {:deps {io.github.clojure/tools.build  {:git/tag "v0.9.5" :git/sha "24f2894"}}
            :ns-default build}}}
